.ui-container {
    text-align: center;
    height: 200px;

    
    
}
.ui-container-inner {
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.searchbar {
    position: relative;
}